$background-colour: #EFFBEF;
$card-colour: white;
$border-colour: #DCE0E0;
$hoveradd-colour: #CDF9CE;

$blue-intensity-colour: #9BD6EA;
$red-intensity-colour: #EB7377;

$font: 'Roboto', sans-serif;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

* { 
  margin: 0; 
  border: 0; 
  padding: 0; 
  outline:none; 
  -moz-outline:none; 
  -moz-user-focus:ignore;
}

@mixin appearance($a) {
  -webkit-appearance: $a;
  -moz-appearance: $a;
  appearance: $a;
}

@mixin shadow() {
  -webkit-box-shadow: 0px 2px 3px 0px #dedede;
  -moz-box-shadow: 0px 2px 3px 0px #dedede;
  box-shadow: 0px 2px 3px 0px #dedede;
}

body {
  background-color: $background-colour;
  font-family: $font;
  font-weight: $font-weight-light;

  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#flex-body-outer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;

  main {
      height: 0%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

nav {
  order: -1;
}

header {
  flex: none;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  justify-content: space-between;
}

.pot-card {
  background-color: $card-colour;
  border: 1px solid $border-colour;
  margin: 0px 20px 20px 0px;
  padding: 15px 15px 0px 15px;
  width: 340px;
  height: 0%;

  @include shadow;
}

.plant-on-card {
  padding: 8px 0px 8px 0px;
  // margin: 0px 15px 0px 15px;
  display: -webkit-flex;
  display: flex;
  border-bottom: 1px solid $border-colour;

  .type, 
  .position {
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
  }

  .position {
    margin-right: 5px;
  }

  select {
    @include appearance(none);
    border-radius: 0;
    display: inline-block;
    cursor: pointer;
    font-family: $font;
    font-weight: $font-weight-normal;
    font-size: medium;
    background-color: transparent;
  }

  .flex-to-right {
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
  }

  .info {
    margin: 2px;
    padding: 2px;
    font-size: 20px;
    border-radius: 2px;
  }

  .blue {
    background-color: $blue-intensity-colour;
  }

  .red {
    background-color: $red-intensity-colour;
  }

  .startTime {}

  .endTime {
    color: white;
    background-color: #B3B2B2;
  }

  .plant-in-pot-info {
    margin-right: 10px;
    -webkit-flex: 1;
    flex: 1;
    text-align: right;
  }
}

input[type="text"] {
  background-color: transparent;
}

.button {
  cursor: pointer;
}

.button:hover {
  background-color: $hoveradd-colour;
}

button {
  background-color: $card-colour;
  @include appearance(none);
}

// Last plant has no bottom border
.plant-on-card:nth-last-child(1) {
  border-bottom: none;
}

#spacer {
  border-right: 1px;
  border-bottom: 1px solid #DCE0E0;
  width: 100%;
  height: 60px;
}

#logo {
  cursor: pointer;
  border: 1px solid #DCE0E0;
  display: flex;
  height: 60px;
  width: 60px;
}

.icon {
  background-color: transparent;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

#profile {
  float: right;
  border-style: solid none solid solid;
  border-color: #DCE0E0;
  border-width: 1px;
  height: 60px;
  display: flex;
  align-items: center;
}

#profile:hover .dropdown-content {
  display: block;
}

.dropdown:nth-child(1) {
  background-color: transparent;
  border-style: none none solid none;
}

#logo:hover,
#profile:hover {
  background-color: #F5F5F5;
}

.dropdown-content {
  display: none;
  right: 0;
  position: absolute;
  min-width: 160px;
}

.dropdown {
  display: block;
  background-color: white;
  height: 60px;
  border-style: none none solid solid;
  border-color: #DCE0E0;
  border-width: 1px;
  display: flex;
  align-items: center;
}

.dropdown a { 
  padding-left: 15px;
  text-decoration: none;
}

.userName {
  display: block;
  padding: 15px;
  font-family: Skolar-Sans-Thin;
  font-size: medium;
}

#pretendImage {
  display: block;
  background-color: white;
  border-radius: 100%;
  margin-right: 15px;
  width: 22px;
  height: 22px;
  border: 2px solid #DCE0E0;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  flex: none;
}

@media (min-width: 1200px) {
  #flex-body-outer {
    flex-direction: row;
  }
  main {
    flex: 1;
  }
  nav, aside {
    flex: 0 0 12em;
  }
}