mixin header()
  header
    a(href="/")
      img(src="/img/small-logo.svg")#logo
    #spacer
    #profile
      .userName #{user.username}
      #pretendImage
      .dropdown-content
        .dropdown
        .dropdown
          a(href="#") Account 
        .dropdown
          a(href="/logout") Logout