* {
  margin: 0;
  border: 0;
  padding: 0;
  /*border: 1px solid red;*/
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
}

.pot {
  width: 320px;
  /*height: 400px;*/
}

/*
.pot input {
  width: 100%;
}*/

header {
  width: 100%;
  height: 50px;
}