include ./plant.pug

mixin pot(pot, j)
  section.pot-card
    h2 Herb garden
    .stats-for-pot
    //- button(onclick="getPotStatus()", style="") Test
    each plant, p in pot.plants
      +plant(plant, p, j)